* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth; /* moviment da rolagem da pagina */
}

/* na raiz do meu projeto estou colocando esses valores */
:root {
  --primaria: #160aeb;
  --secundaria: #7c3aed;
  --escuro: #0f172a;
  --maisEscuro: #0a0f1c;
  --claro: #e2e8f0;
  --vidro: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--escuro);
  color: var(--claro);
}

.particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: radial-gradient(
      circle at 10% 10%,
      var(--primaria) 0%,
      transparent 20%
    ),
    radial-gradient(circle at 90% 90%, var(--secundaria) 0%, transparent 20%),
    var(--maisEscuro);
}

/* esse codigo faz a movimentação da imagem, principal */
@keyframes flutuar {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.navegacao {
  position: fixed;
  background: rgba(15, 23, 42, 0.8);
  top: 0;
  /* backdrop-filter: blur(10px); */
  width: 100%;
  /* height: 60px; */
  padding: 1.5rem;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  z-index: 100; /*significa que a pagina fica em cima de todos os outros elementos*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* background-image: linear-gradient(rgb(0, 8, 255), rgba(68, 0, 255, 0.584), rgb(64, 0, 128)); */
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

.menu-link {
  color: var(--claro);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
  /* transition: 0.3s; */
}

.menu-link::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}
.menu-link:hover::after {
  width: 100%;
}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.foto-perfil {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 20px rgba(79, 70, 220, 0.3);
  border-radius: 50%;
  border: 4px solid var(--vidro);
  animation: flutuar 3s ease-in-out infinite;
}

h1 {
  font-size: 3.5rem;
  color: var(--primaria);
  font-weight: bold;
  margin: 20px 0;
}

.dev {
  font-size: 1.5rem;
  color: var(--claro);
  font-weight: 500;
}

.sobre {
  padding: 6rem 2rem;
}

.sobre-titulo {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.sobre-caixa {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
}

.quem-sou-eu {
  text-align: center;
  font-size: 1rem;
}

.projetos {
  padding: 6rem 2rem;
}

.projeto-titulo {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.caixa-texto-projetos {
  padding: 1.5rem;
}

.projetos-cards {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--vidro);
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
}
.projetos-cards:hover {
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
  transform: translateY(-10px) scale(1.03);
}

.img-projetos {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.info-projetos {
  color: rgba(226, 232, 240, 0.8);
  line-height: 1.25rem;
}

.paragrafo-projetos {
  padding: 0.5rem 0;
}

.contato {
  padding: 6rem 2rem;
}

.contato-titulo {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.formulario-contato {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
}

.campo-form {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: var(--claro);
  border: 1px solid var(--vidro);
  outline: none;
}

.tamanho-area {
  max-width: 100%;
  min-width: 100%;
}
.campo-form:focus {
  border-color: var(--secundaria);
  box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.nome-fomr {
  margin-bottom: 1.5rem;
  box-shadow: 0 0 10px rgba(79, 70, 229, 0.2);
}

.botao-form {
  color: var(--claro);
  background: linear-gradient(45deg, var(--primaria), var(--secundaria));
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.5s ease;
}

.botao-form:hover {
  transform: translateY(-4px);
  box-shadow: 0 05px 15px rgba(79, 70, 229, 0.4);
}

.RedeSocial {
  margin-top: 2rem;
  text-align: center;
  font-style: italic;
}
.RedeSocial a {
  text-decoration: none;
  font-weight: bold;
}
.RedeSocial a:hover {
  /* color: #7c3aed; */
  font-size: 1.3em;
  text-shadow: 0 05px 15px rgba(79, 70, 229, 0.4);
}
